.comunidade{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 2rem;

    padding-bottom: 2rem;
}

.cartao{
    width: 100%;
    height: fit-content;

    color: var(--branco);

    background-color: var(--preto-cor-de-fundo);

    border-radius: 0.5rem;
}

.cartao-cor{
    padding: 1.5rem;

    border-radius: 8px;

    background-color: red;
}


.cartao-pontos{
    border-radius: 8px 8px 0 0;

    background: var(--preto);
    padding: 0.75rem;
}
.cartao-pontos .fa-circle{
    margin-right: 0.375rem;
}

.ponto-green, .ponto-red, .ponto-yellow{
    font-size: 0.75rem;
}
.cartao-campo{
    display: inline-block;

    width: 100%;

    font-family: 'Roboto Mono', monospace;
    font-size: .875rem;

    box-sizing: border-box;

    border-radius: 0 0 8px 8px;

    outline: none;

    white-space: pre-wrap;

    padding: 0.75rem;
}



.cartao-informacao{
    padding: 1.5rem;
}

.cartao-titulo{
    font-size: 1.3rem;

    font-weight: bold;

    line-height: 1.9rem;

    margin-bottom: 0.5rem;
}

.cartao-descricao{
    color: var(--branco-cinza);
}

.cartao-hover{
    display: none;
    justify-content: space-between;
    align-items: center;

    padding: 0 1.5rem 1.5rem 1.5rem;

}

.cartao-hover-aparecer{
    display: flex;
}

.icone{
    margin-right: 0.6rem;

    cursor: pointer;
}

.contagem-comentario, .contagem-curtidas{
    display: inline-block;
    margin-right: 1.125rem;

    cursor: pointer;
}

.curtida:hover, 
.curtida:active{
    color: red;
}

.cartao_perfil{
    display: flex;
    align-items: center;
}

.cartao_perfil-foto{
    position: relative;
    top: 3px;
    width:  1.5rem;
    height: 1.5rem;
}

.cartao_perfil-nome{
    margin-left: .5rem;
    color: var(--branco);
    text-decoration: none;
}

@media screen and (min-width: 1024px){    
    .comunidade{
        width: calc(100vw - (25% - 2rem) - 6.6rem);
        flex-direction: row;
    }

    .cartao{
        width: calc(50% - 12px);
        gap: initial;
    }

    .cabecalho-link-logo{
        flex-grow: initial;
    }
}