.editor_codigo{
    width: 100%;
}

.editor_codigo-cor{
    padding: 2rem;
    
    margin-bottom: 2rem;

    border-radius: 8px;

}

.editor_codigo-pontos{
    border-radius: 8px 8px 0 0;

    background: var(--preto);
    padding: 1rem;
}
.editor_codigo-pontos .fa-circle{
    margin-right: 0.5rem;
}
.ponto-red{
    color: #FF5F56;
}

.ponto-yellow{
    color: #FFBD2E;
}

.ponto-green{
    color: #27C93F;
}

.editor_codigo-campo{
    display: inline-block;

    width: 100%;

    font-family: 'Roboto Mono', monospace;
    font-size: .875rem;

    box-sizing: border-box;

    border-radius: 0 0 8px 8px;

    outline: none;

    white-space: pre-wrap;

    padding: 1rem;
}

.editor_codigo-botao{
    background: var(--azul-escuro-botao);
    cursor: pointer;

    color: var(--branco-cinza);

    margin-bottom: 2.5rem;
}

.editor_codigo-botao:hover{
    background-color: var(--azul-escuro-botao-hover);
    color: var(--branco);
}

.editor_codigo-botao:active{
    background-color: var(--azul-escuro-botao-hover);
    border: solid 4px var(--azul-escuro-botao-ativo);
    color: var(--branco);
}

.editor_codigo-botao:focus{
    background-color: var(--azul-escuro-botao-ativo);
    color: var(--branco);
}



@media screen and (min-width: 1024px){
    .editor_codigo{
        width: calc(100vw - 752px);
    }
}