.menu_lateral-esquerdo{
    position: absolute;
    display: none;
    flex-direction: column;

    align-self: flex-end;
    
    width: 254px;
    height: 100vh;

    background-color: var(--menu-responsivo);

    padding: 2rem;
    box-sizing: border-box;

    border-radius: 0.5rem;
}

.menu_lateral-esquerdo.active{
    display: flex;
}

.menu_lateral-esquerdo a{
    text-decoration: none;
}

.titulo_menu{
    display: none;
}

.menu_lista{
    list-style: none;
}

.menu_item{
    margin-bottom: 1.5rem;
}

.menu_link-icone{
    display: inline-block;

    background: var(--azul-escuro-botao);
    
    padding: 1rem 0.9rem;

    border-radius: 1rem;

    margin-right: 1rem;
}

.menu_link-icone:hover{
    background: var(--azul-escuro-hover);
    color: var(--cinza);
}

.menu_link-icone, .menu_link{
    color: var(--branco-cinza);
}

.menu_item.ativo .menu_link-icone,
.menu_link-icone:focus{
    background: var(--azul-claro);
}

.menu_item.ativo .menu_link-icone,
.menu_item.ativo .menu_link,
.menu_link-icone:focus,
.menu_link:focus{
    color: var(--branco);
}

.menu_perfil{
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0.75rem;

    border-top: 1px solid var(--azul-cor-de-fundo-hover);

    padding-top: 2.25rem;
}

.menu_perfil-nome{
    margin-left: .5rem;
    color: var(--branco);
}

@media screen and (min-width: 1024px){
    .menu_lateral-esquerdo{
        display: flex;
        width: calc(25% - 2rem);
        align-self: flex-start;

        background-color: initial;
        padding: initial;

        position: initial;

        transform: translateX(0);
    }

    .menu_item{
        margin-top: 1rem;
    }

    .titulo_menu{
        display: inline;
    }

    .menu_perfil{
        display: none;
    }
}